In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("WhatsApp Chat with Online Class Hope AI.txt",header=None,on_bad_lines='skip',encoding='utf8')

In [5]:
df.drop(columns=[2, 3], inplace=True)
df

,0,1
0,23/07/2023,6:16 am - Messages and calls are end-to-end e...
1,23/07/2023,6:16 am - Online Class Hope AI: *M.Manikandan...
2,📆 Customised Career Path Call has been Booked.,NaN
3,📝 *Meeting Details*,NaN
4,*Scheduled Time:* 03:45pm - Wednesday,July 26
...,...,...
1270,29/04/2024,9:15 am - Manika: <Media omitted>
1271,29/04/2024,9:52 am - Manika: <Media omitted>
1272,29/04/2024,9:56 am - Manika: <Media omitted>
1273,07/05/2024,10:48 pm - Manika: https://github.com/AI23man...
1274,11/05/2024,11:43 am - Manika: https://github.com/AI23man...

In [6]:

df.columns=['Date','Chat']
Message=df["Chat"].str.split("-",n=1,expand=True)
df["Time"]=Message[0]
Message1=Message[1].str.split(":",n=1,expand=True)
df["Name"]=Message1[0]
df["Chat"]=Message1[1]
df=df[["Date","Time","Name","Chat"]]
df

,Date,Time,Name,Chat
0,23/07/2023,6:16 am,Messages and calls are end-to-end encrypted. ...,None
1,23/07/2023,6:16 am,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...
2,📆 Customised Career Path Call has been Booked.,NaN,NaN,NaN
3,📝 *Meeting Details*,NaN,NaN,NaN
4,*Scheduled Time:* 03:45pm - Wednesday,July 26,None,None
...,...,...,...,...
1270,29/04/2024,9:15 am,Manika,<Media omitted>
1271,29/04/2024,9:52 am,Manika,<Media omitted>
1272,29/04/2024,9:56 am,Manika,<Media omitted>
1273,07/05/2024,10:48 pm,Manika,https://github.com/AI23mani/Time_Series_All_A...
1274,11/05/2024,11:43 am,Manika,https://github.com/AI23mani/Time-Series-Analysis

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1275 non-null   object
 1   Time    1001 non-null   object
 2   Name    950 non-null    object
 3   Chat    943 non-null    object
dtypes: object(4)
memory usage: 40.0+ KB

In [8]:
#!pip install nltk

In [9]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...

True

In [10]:
dataset=df

In [11]:
dataset.dropna(inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2639109627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(inplace=True)

In [12]:
sid = SentimentIntensityAnalyzer()

In [13]:
senti=sid.polarity_scores(dataset['Chat'][1274])

In [14]:
senti

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [15]:
 def sentimentalAnalysis(data,columnname):
        
        #downloading vader_lexicon for the process
        import matplotlib.pyplot as plt
        import seaborn as sns
        "Importing Necessary Packeage"
        from nltk.sentiment.vader import SentimentIntensityAnalyzer
        sid = SentimentIntensityAnalyzer()
        
        "Deleting null pr empty value"
        data.dropna(inplace=True)
        
        "Checking for a comment"
        #sid.polarity_scores(data[columnname][93])
        
        "Creating respective columns"
        
        data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
        data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])
        data['Negtive']  = data['scores'].apply(lambda score_dict: score_dict['neg'])
        data['Postive']  = data['scores'].apply(lambda score_dict: score_dict['pos'])
        data['Neutral']  = data['scores'].apply(lambda score_dict: score_dict['neu'])
        
        "Creating final pos or neg using compound score"
        data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
        plt.clf()
        #comp=sns.countplot(x = 'comp_score', hue = 'Name', data = data, palette = 'magma')
        #comp.figure.savefig("date_charts.png")
        "Checking how many pos and neg"
        posneg=pd.DataFrame(data['comp_score'].value_counts())
        return posneg,data

In [16]:
pos,data_Senti=sentimentalAnalysis(dataset,columnname='Chat')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Negtive']  = data['scores'].apply(lambda score_dict: score_dict['neg'])
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Postive']  = data['scores'].apply(lambda score_dict: score_dict['pos'])
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Neutral']  = data['scores'].apply(lambda score_dict: score_dict['neu'])
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\2009568695.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [17]:
data_Senti

,Date,Time,Name,Chat,scores,compound,Negtive,Postive,Neutral,comp_score
1,23/07/2023,6:16 am,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...,"{'neg': 0.0, 'neu': 0.632, 'pos': 0.368, 'comp...",0.6219,0.0,0.368,0.632,pos
12,25/07/2023,8:54 pm,Manika,Please update my mail id,"{'neg': 0.0, 'neu': 0.635, 'pos': 0.365, 'comp...",0.3182,0.0,0.365,0.635,pos
13,25/07/2023,8:54 pm,Manika,maridevamani90@gmail.com,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
14,25/07/2023,8:55 pm,Manika,Tomorrow my schedule time,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
15,25/07/2023,8:55 pm,Manika,Link still not come,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
...,...,...,...,...,...,...,...,...,...,...
1270,29/04/2024,9:15 am,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1271,29/04/2024,9:52 am,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1272,29/04/2024,9:56 am,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1273,07/05/2024,10:48 pm,Manika,https://github.com/AI23mani/Time_Series_All_A...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos
1274,11/05/2024,11:43 am,Manika,https://github.com/AI23mani/Time-Series-Analysis,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos

In [18]:
pos

            count
comp_score
pos           931
neg            12

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import NMF
import pandas as pd


# Count Vectorization
count_vectorizer = CountVectorizer(max_df=1.0, min_df=1, stop_words='english')  # Adjust min_df and max_df values
dtm = count_vectorizer.fit_transform(df['Chat'])

# NMF Model
num_topics = 5
nmf_model = NMF(n_components=num_topics, random_state=42)
nmf_model.fit(dtm)

# Display the top words for each topic
for index, topic in enumerate(nmf_model.components_):
    top_words_indices = topic.argsort()[-10:]
    top_words = [count_vectorizer.get_feature_names()[i] for i in top_words_indices]
    print(f"Topic {index + 1}: {top_words}")

In [20]:
topic_results=nmf_model.transform(dtm)
df["Topic"]=topic_results.argmax(axis=1)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3356\1889149295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Topic"]=topic_results.argmax(axis=1)

In [21]:
df

,Date,Time,Name,Chat,scores,compound,Negtive,Postive,Neutral,comp_score,Topic
1,23/07/2023,6:16 am,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...,"{'neg': 0.0, 'neu': 0.632, 'pos': 0.368, 'comp...",0.6219,0.0,0.368,0.632,pos,4
12,25/07/2023,8:54 pm,Manika,Please update my mail id,"{'neg': 0.0, 'neu': 0.635, 'pos': 0.365, 'comp...",0.3182,0.0,0.365,0.635,pos,4
13,25/07/2023,8:54 pm,Manika,maridevamani90@gmail.com,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,1
14,25/07/2023,8:55 pm,Manika,Tomorrow my schedule time,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,1
15,25/07/2023,8:55 pm,Manika,Link still not come,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,4
...,...,...,...,...,...,...,...,...,...,...,...
1270,29/04/2024,9:15 am,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,0
1271,29/04/2024,9:52 am,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,0
1272,29/04/2024,9:56 am,Manika,<Media omitted>,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,0
1273,07/05/2024,10:48 pm,Manika,https://github.com/AI23mani/Time_Series_All_A...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,1
1274,11/05/2024,11:43 am,Manika,https://github.com/AI23mani/Time-Series-Analysis,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.0,0.000,1.000,pos,1

In [22]:
df["Topic"].value_counts()

Topic
0    501
4    212
2    107
1     78
3     45
Name: count, dtype: int64

In [23]:
# !pip install wordCloud

Collecting wordCloud
  Obtaining dependency information for wordCloud from https://files.pythonhosted.org/packages/f5/b0/247159f61c5d5d6647171bef84430b7efad4db504f0229674024f3a4f7f2/wordcloud-1.9.3-cp311-cp311-win_amd64.whl.metadata
  Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl.metadata (3.5 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\admin\anaconda3\lib\site-packages (from wordCloud) (1.26.4)
Requirement already satisfied: pillow in c:\users\admin\anaconda3\lib\site-packages (from wordCloud) (9.4.0)
Requirement already satisfied: matplotlib in c:\users\admin\anaconda3\lib\site-packages (from wordCloud) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib->wordCloud) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordCloud) (1.16.0)
Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl (300 kB)
   ---------------------------------------- 0.0/300.2 kB ? eta -:--:--
   ---------------------------------------- 0.0/300.2 kB ? eta -:--:--
   - -------------------------------------- 10.2/300.2 kB ? eta -:--:--
   --- ----------------------------------- 30.7/300.2 kB 262.6 kB/s eta 0:00:02
   ----- --------------------------------- 41.0/300.2 kB 245.8 kB/s eta 0:00:02
   ----------- --------------------------- 92.2/300.2 kB 476.3 kB/s eta 0:00:01
   ------------------ ------------------- 143.4/300.2 kB 566.5 kB/s eta 0:00:01
   ------------------------ ------------- 194.6/300.2 kB 653.6 kB/s eta 0:00:01
   ------------------------ ------------- 194.6/300.2 kB 653.6 kB/s eta 0:00:01
   ------------------------------------ - 286.7/300.2 kB 768.0 kB/s eta 0:00:01
   -------------------------------------- 300.2/300.2 kB 712.3 kB/s eta 0:00:00
Installing collected packages: wordCloud
Successfully installed wordCloud-1.9.3

In [24]:
dataset=df
from wordcloud import WordCloud
from nltk.corpus import stopwords
import nltk
import matplotlib.pyplot as plt
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [ ]:
comment_words = []
stoplist = stopwords.words('english')
stoplist.extend(['omitted', 'voice','missed','call','video','deleted','media','message'])
wordcloudss="This function saves image"
dataset.index=range(dataset.shape[0])
for i in range(1,len(dataset)): 
    comment_words.append(dataset['Chat'][i])
    vv=" ".join(comment_words)          
    wordcloud = WordCloud(width = 800, height = 800, 
                                background_color ='white', 
                                      stopwords = stoplist, 
                                      min_font_size = 10).generate(vv)         
plt.figure(figsize = (9, 7), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off") 
plt.tight_layout(pad = 0) 
plt.savefig('wordcloud.PNG')
plt.show() 
print("Successfully created")
wordcloudss="This function saves image"