In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("WhatsApp Chat with Online Class Hope AI.txt",header=None,error_bad_lines=False,encoding='utf8')

b'Skipping line 130: expected 4 fields, saw 8\nSkipping line 343: expected 4 fields, saw 7\nSkipping line 664: expected 4 fields, saw 5\nSkipping line 666: expected 4 fields, saw 5\nSkipping line 1010: expected 4 fields, saw 5\nSkipping line 1337: expected 4 fields, saw 6\nSkipping line 1338: expected 4 fields, saw 6\nSkipping line 1346: expected 4 fields, saw 5\nSkipping line 1355: expected 4 fields, saw 9\n'

In [3]:
df.drop(columns=[2, 3], inplace=True)
df

,0,1
0,23/07/2023,6:16‚ÄØam - Messages and calls are end-to-end e...
1,23/07/2023,6:16‚ÄØam - Online Class Hope AI: *M.Manikandan...
2,üìÜ Customised Career Path Call has been Booked.,NaN
3,üìù *Meeting Details*,NaN
4,*Scheduled Time:* 03:45pm - Wednesday,July 26
...,...,...
1270,29/04/2024,9:15‚ÄØam - Manika: <Media omitted>
1271,29/04/2024,9:52‚ÄØam - Manika: <Media omitted>
1272,29/04/2024,9:56‚ÄØam - Manika: <Media omitted>
1273,07/05/2024,10:48‚ÄØpm - Manika: https://github.com/AI23man...
1274,11/05/2024,11:43‚ÄØam - Manika: https://github.com/AI23man...

In [4]:

df.columns=['Date','Chat']
Message=df["Chat"].str.split("-",n=1,expand=True)
df["Time"]=Message[0]
Message1=Message[1].str.split(":",n=1,expand=True)
df["Name"]=Message1[0]
df["Chat"]=Message1[1]
df=df[["Date","Time","Name","Chat"]]
df

,Date,Time,Name,Chat
0,23/07/2023,6:16‚ÄØam,Messages and calls are end-to-end encrypted. ...,None
1,23/07/2023,6:16‚ÄØam,Online Class Hope AI,*M.Manikandan* *!! Successfully your slot has...
2,üìÜ Customised Career Path Call has been Booked.,NaN,NaN,NaN
3,üìù *Meeting Details*,NaN,NaN,NaN
4,*Scheduled Time:* 03:45pm - Wednesday,July 26,None,None
...,...,...,...,...
1270,29/04/2024,9:15‚ÄØam,Manika,<Media omitted>
1271,29/04/2024,9:52‚ÄØam,Manika,<Media omitted>
1272,29/04/2024,9:56‚ÄØam,Manika,<Media omitted>
1273,07/05/2024,10:48‚ÄØpm,Manika,https://github.com/AI23mani/Time_Series_All_A...
1274,11/05/2024,11:43‚ÄØam,Manika,https://github.com/AI23mani/Time-Series-Analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 4 columns):
Date    1275 non-null object
Time    1001 non-null object
Name    950 non-null object
Chat    943 non-null object
dtypes: object(4)
memory usage: 40.0+ KB

In [6]:
#!pip install nltk

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

In [ ]:
dataset=df

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
sid = SentimentIntensityAnalyzer()

In [ ]:
senti=sid.polarity_scores(dataset['Chat'][1274])

In [ ]:
senti

In [ ]:
 def sentimentalAnalysis(data,columnname):
        
        #downloading vader_lexicon for the process
        import matplotlib.pyplot as plt
        import seaborn as sns
        "Importing Necessary Packeage"
        from nltk.sentiment.vader import SentimentIntensityAnalyzer
        sid = SentimentIntensityAnalyzer()
        
        "Deleting null pr empty value"
        data.dropna(inplace=True)
        
        "Checking for a comment"
        #sid.polarity_scores(data[columnname][93])
        
        "Creating respective columns"
        
        data['scores'] = data[columnname].apply(lambda commentText: sid.polarity_scores(commentText))
        data['compound']  = data['scores'].apply(lambda score_dict: score_dict['compound'])
        data['Negtive']  = data['scores'].apply(lambda score_dict: score_dict['neg'])
        data['Postive']  = data['scores'].apply(lambda score_dict: score_dict['pos'])
        data['Neutral']  = data['scores'].apply(lambda score_dict: score_dict['neu'])
        
        "Creating final pos or neg using compound score"
        data['comp_score'] = data['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
        plt.clf()
        #comp=sns.countplot(x = 'comp_score', hue = 'Name', data = data, palette = 'magma')
        #comp.figure.savefig("date_charts.png")
        "Checking how many pos and neg"
        posneg=pd.DataFrame(data['comp_score'].value_counts())
        return posneg,data

In [ ]:
pos,data_Senti=sentimentalAnalysis(dataset,columnname='Chat')

In [ ]:
data_Senti

In [ ]:
pos

In [ ]:
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.decomposition import LatentDirichletAllocation

# Sample text data
text_data = ["Text document 1", "Text document 2", "Text document 3"]

# Step 1: Apply HashingVectorizer to convert text data into a matrix of token counts
hash_vectorizer = HashingVectorizer(stop_words='english', n_features=1000)
X = hash_vectorizer.fit_transform(text_data)

# Step 2: Train the LDA model
num_topics = 5
lda_model = LatentDirichletAllocation(n_components=num_topics, random_state=42)
lda_model.fit(X)

# Step 3: Print the top words for each topic
feature_names = hash_vectorizer.get_feature_names_out()
for topic_idx, topic in enumerate(lda_model.components_):
    top_words_indices = topic.argsort()[:-11:-1]
    top_words = [feature_names[i] for i in top_words_indices]
    print(f"Topic {topic_idx + 1}: {top_words}")

In [ ]:
topic_results=lda_model.transform(dtm)
df["Topic"]=topic_results.argmax(axis=1)

In [ ]:
df

In [ ]:
df["Topic"].value_counts()

In [ ]:
#!pip install wordCloud

In [ ]:
dataset=df
from wordcloud import WordCloud
from nltk.corpus import stopwords
import nltk
import matplotlib.pyplot as plt
nltk.download('stopwords')

In [ ]:
comment_words = []
stoplist = stopwords.words('english')
stoplist.extend(['omitted', 'voice','missed','call','video','deleted','media','message'])
wordcloudss="This function saves image"
dataset.index=range(dataset.shape[0])
for i in range(1,len(dataset)): 
    comment_words.append(dataset['Chat'][i])
    vv=" ".join(comment_words)          
    wordcloud = WordCloud(width = 800, height = 800, 
                                background_color ='white', 
                                      stopwords = stoplist, 
                                      min_font_size = 10).generate(vv)         
plt.figure(figsize = (9, 7), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off") 
plt.tight_layout(pad = 0) 
plt.savefig('wordcloud.PNG')
plt.show() 
print("Successfully created")
wordcloudss="This function saves image"